# Rust build output
/target/

# Backup files from rustfmt/cargo-editors
**/*.rs.bk

# macOS
.DS_Store

# Editor/IDE
.idea/
.vscode/*
!.vscode/settings.json
!.vscode/launch.json
!.vscode/tasks.json
captures/

# wasm-pack build output
/pkg/
/web/pkg
save.json

# Plant generator output
tools/plant-gen/examples/*.svg
tools/plant-gen/examples/*.glb
